/*
    Name: Crypt
    Author: Quixlab
    Author Portfolio : https://themeforest.net/user/quixlab/portfolio
    Email: quixlab.com@gmail.com


    Table of Content: 

    1. Abstract
    2. Bootstrap CSS
    3. Base
    4. Layout
    5. Component
    6. Pagess
    
*/

@import "./abstract/abstract";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./base/base";
@import "./layout/layout";
@import "./components/component";
@import "./pages/pages";